.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Header {
  display: grid;
  grid-template-columns: 80% 10% 10%;
  /* background-color: #282c34; */
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

.Header-title {
  grid-column: 1;
  margin-left: 20rem;
}

.Header-dropdown {
  grid-column: 2;
  align-self: center;
  margin-top: 2rem;
}

.Header-upload-button {
  grid-column: 3;
  align-self: center;
}

.Gallery {
  display: flex;
  flex-wrap: wrap;
}

.Photo {
  min-width: 30rem;
  min-height: 15rem;
  margin: 0 4rem;
}

img {
  width: 20rem;
  height: 10rem;
}

.Pagination {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.upload-image-input {
  display: none;
}

.MuiInput-root {
  width: 100%;
}

input {
  width: 100%;
  margin-bottom: 1rem;
}

.MuiFormLabel-root {
  margin-right: 0 !important;
}

label {
  margin-right: 6rem;
}

.Error404 {
  width: 100%; 
  height: 100%; 
  position: fixed; 
  left: 0px; 
  top: 0px; 
  z-index: -1;
}

.errorImg {
  width:100%;
  height:100%;
  object-fit: contain;
}

.LoginPage {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}

.loginForm {
  padding: 20%;
}

.marginTop {
  margin-top: 1rem !important;
}

.errorTxt {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media all and (max-width: 960px) and (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
  .Header {
    grid-template-columns: 50% 25% 25%;
  }

  .Header-title {
    margin-left: 10rem;
  }
}
